<!DOCTYPE html>
<html lang ="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"href="/css/styles.css">
</head>
<body>
    <form th:action="@{/login}" method="post">
        <h2>Login</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        
        <button type="submit">Login</button>
        
        <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
    </form>
</body>
</html>
